.menuContainer {
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  background-color: #3FB6E8;
  box-sizing: border-box;
  font-size: 14px;
  width: 99%;
  padding: 1rem;
  gap: 30px;
  border: 1px solid #e8e8e8;
  margin: 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.menuContainer .menuItem {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.9rem;
  padding: 0.6rem 0.9rem;
  transition: all 0.15s ease-in-out;
  background-color: #fff;
  color: #000;
}

.menuContainer .menuItem:hover {
  color: #3FB6E8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  transition: 0.5s;
}

.menuName {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  background: #fff;
  padding: 10px;
}

.menuContainer .menuName:hover {
  color: #3FB6E8;
}

.menuContainer .menuItem:active {
  transform: scale(0.98);
}


/* Media queries para telas menores */
@media (max-width: 768px) {
  .menuContainer {
    flex-direction: column;
    align-items: center;
  }

  .menuContainer .menuItem {
    width: 100%;
    justify-content: flex-start;
  }
}
