.radioInputs {
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  background-color: #70c489;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  gap: 30px;
}

.radioInputs .radio input {
  display: none;
}

.radioInputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.8rem;
  /* color: ; */
  transition: all 0.15s ease-in-out;
  position: relative;
}

.radioInputs .radio input:checked+.name {
  background-color: #e8e8e8;
  font-weight: 600;
}

.radioInputs .radio input+.name:hover {
  color: #fff;
}

.radioInputs .radio input:checked+.name:hover {
  color: #1d1d29;
}

.radioInputs .radio input:checked+.name::after,
.radioInputs .radio input:checked+.name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #70c489;
  bottom: 0;
}

.radioInputs .radio input:checked+.name::after {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -3px 3px 0px 3px #e8e8e8;
}

.radioInputs .radio input:checked+.name::before {
  left: -10px;
  border-bottom-right-radius: 300px;
  box-shadow: 3px 3px 0px 3px #e8e8e8;
}
