.container {
  background: #3FE8AB;
  height: 100vh;
  width: 100%;
}

.container h1 {
  background: none;
}

.section {
  background: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
